<!doctype html>
<html>
  <head>
    <title>Why is it so hot in here?</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      * {
        padding: 0;
        margin: 0;
      }

      body {
        font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        -webkit-font-smoothing: antialiased;
        letter-spacing: 1px;
        color: #fff;
      }

      .container {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        text-align: center;
      }

      .currently {
        font-size: 100px;
        letter-spacing: 5px;
        margin-bottom: 20px;
      }

      .previously {
        width: 460px;
        margin: 14px auto 0;
        padding: 0 20px;
        text-align: left;
      }

      .previously .temperature {
        font-weight: bold;
      }

      .previously .timestamp {
        float: right;
      }

      @media screen and (max-width: 500px) {
        .previously {
          width: auto;
        }
      }

      @media screen and (max-height: 400px) {
        .container {
          position: relative;
          top: 0;
          transform: none;
          padding-top: 20px;
        }
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="currently" data-temperature="<%= @readings.first.temperature %>" data-taken-at="<%= @readings.first.taken_at.strftime('%H:%M') %>">
        <%= @readings.first.temperature %>&deg;C
      </div>

      <div>Previously:</div>

      <% @readings[1..-1].each do |reading| %>
        <div class="previously">
          <div class="timestamp"><%= reading.taken_at.strftime('%H:%M') %></div>
          <div class="temperature"><%= reading.temperature %>&deg;C</div>
        </div>
      <% end %>
    </div>

    <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      var currentContainer = document.querySelector('.currently');

      function setBackgroundFromTemperature(temperature) {
        temperature = parseFloat(temperature);
        var min = 10,
            max = 30,
            hotness = Math.min(Math.max(temperature - min, 0), max - min) / (max - min),
            coldness = 1 - hotness,
            red = Math.floor(hotness * 255),
            blue = Math.floor(coldness * 255);

        document.body.style.backgroundColor = 'rgb(' + red + ', 0, ' + blue + ')';
      }

      setBackgroundFromTemperature(currentContainer.dataset.temperature);

      var pusher = new Pusher('<%= ENV['PUSHER_KEY'] %>');
      var channel = pusher.subscribe('readings');
      channel.bind('new', function(data) {
        var previous = document.createElement('div');
        previous.className = 'previously';
        previous.innerHTML = '<div class="timestamp">' +
          currentContainer.dataset.takenAt + '</div><div class="temperature">' +
          currentContainer.dataset.temperature + '&deg;C</div>';

        document.querySelector('.container').insertBefore(previous, document.querySelector('.previously'));
        // console.log(currentTemp);

        currentContainer.innerHTML = data.temperature + '&deg;C';
        currentContainer.dataset.temperature = data.temperature;
        currentContainer.dataset.takenAt = data.taken_at;
        setBackgroundFromTemperature(data.temperature);

        document.querySelector('.container').removeChild(document.querySelector('.previously:last-of-type'));
      });
    </script>
  </body>
</html>
